.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg/Header_img.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg/Header_img@2x.jpg);
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg/Header_img-1.jpg);
  }
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg/Header_img@2x-1.jpg);
  }

  @media screen and (min-width: 1200px) {
    width: unset;
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg/Img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg/Img@2x.jpg);
  }

  &__title {
    color: var(--dark-background-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
