.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/img/bg/Header-img.webp);
  padding-top: 118px;
  padding-bottom: 118px;
}
.hero__title {
  color: var(--dark-background-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/img/bg/Header-img@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/img/bg/Header-img-1.webp);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url(/img/bg/Header-img@2x-1.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(/img/bg/Img.webp);
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url(/img/bg/Img@2x.webp);
  }
}
