.team {
  background-color: rgb(245, 244, 250);
  padding-top: 60px;
  padding-bottom: 60px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
  }
  &__card {
    background-color: var(--dark-background-text-color);
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 30px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.description {
  color: var(--description-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
