.team {
  background-color: rgb(245, 244, 250);
  padding-top: 60px;
  padding-bottom: 60px;
}
.team__card {
  background-color: var(--dark-background-text-color);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.team__card:not(:last-child) {
  margin-bottom: 30px;
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.description {
  color: var(--description-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
