// @media screen and (min-width: 480px) {
// }
// @media screen and (min-width: 768px) {
// }
// @media screen and (min-width: 1200px) {
// }
.secondary {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}
